@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.body{
    font-family: 'Varela', sans-serif;
    margin: 0px;
}

.nav-bar{
    position: relative;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 132px;
    width: 980px;
    height: 35.5px;
    border-radius: 4px;
    top: 83px;
    margin: 0 auto ;
    z-index: 100;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVQTFRFAAAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5YtmQAAAACd0Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmZiD6WAAAAdlJREFUeF7t3btuFEEQheFzunotGYkIERA4spn3fyeHiAgEEtsXB82s2eEJavR%2F0Wjyo75XWfHpw4MkSXNqCkA2lr2%2B%2Fvz63n15qpI0x5yTSAM52XaxJLVXf%2FkoaY6xQk2sgXy8Ql2KJf3wS5HG6HMMQg3kZNkuxVGKNLxJo48%2BxhxTpBrIx7JcXEqUKJI3zd77CjWLaiAle4U6Iixv6q33MfocTL%2BBlCy7OEqJqCFvs%2FV2m3%2BTaiAd6zb7rlHtrbc1VA%2Bm30BSa%2B%2B7RNSo4a21thbVTL%2BBnCy7rCV1rdXbtbXW%2B%2Bh%2Ft78BZLM2v6NE1Fov%2FrpC3Zl%2BA2l5H6lrrRe%2FXNu%2BqCbUQE57qGvsoW5t9D4H028gJculOKLUWuvFz%2B16O9NipAZSsm8nWpfq53ZlTQ3k9s%2BamlADZ0CogZMh1MDJEGrgZAg1cDL%2Fh5ojLSC1%2ByMtLp8A2R0un3BNFEjv%2FpooDzqA9O4fdPD0Esju8PSSIglAdsciCZQzArI7lDOat30yCg8CGe2FB1eovZcI7oMSwUBSq0TwWlQHxfyBEzgW86ftDpDase0ODfKA7A4N8mhlC2R318r2px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC) no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
}

.nav-item{
    font-family: 'Roboto', 'Varela', sans-serif;
    width: 105px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 10px;
    border-right-width: 2px;
    border-left-style: 2px;
    border-style: solid;
    -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
}

.search{
    display: flex;
    flex-wrap: nowrap;
    z-index: 0;
    width: 105px;
    text-align: left;
    margin-top: 8px;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 60%) 0 2px 1px inset, rgb(255 255 255 / 20%) 0 1px 0;
    color: white;
    opacity: 1
}

.apple{
    width: 105px;
    opacity: 0.8;
    text-align: center;
    color: white;
    margin-top: 5px;
    border-right-width: 2px;
    border-style: solid;
    -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
}
.search-bar{
    width: 106px;
    height: 19px;
}

.primary-container{
    display: grid;
    max-width: 1440px;
    margin: 0 auto;

    grid-template-rows: 578px 200px 90px;


}

.large-container{
    position: relative;
}

.footer{

}

.nav-pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pic{
    max-width: 364px;
    max-height: 200px;
    margin: 1px;
}

.main-photo{
    display: block;
    background-image: url("your_verse_hero.jpg");
    background-position: bottom;
    position: absolute;
    bottom: 0;
    height: auto;
    overflow: hidden;
    object-position: center bottom;
    width: 1440px;
    height: 578px;
    text-align: center;

}


.text{
    padding-top: 35px;
    padding-bottom: 50px;
    margin-top: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.line-1{
    font-size: 60px;
    font-family: 'Roboto', 'Varela', sans-serif;
    font-weight: 100;
}

.line-2{
    font-size: 30px;
    font-family: 'Roboto', 'Varela', sans-serif;
    font-weight: 300; 
}

.line-3{
    font-size: 30px;
    font-family: 'Roboto', 'Varela', sans-serif;
    font-weight: 300; 
}

.line-4{
    font-size: 24px;
    font-family: 'Roboto', 'Varela', sans-serif;
    font-weight: 300; 
}